.Homepage {
  height: 100%;
  margin: 0 100px;
}

.Homepage-title {
  font-family: "Roboto";
  font-size: 20px;
  font-style: italic;
  letter-spacing: 0.125em;
  margin: 100px 0;
  cursor: default;
}

.card-img-top {
  width: 50px !important;
  height: auto !important;
  margin: 20px auto 0 auto !important;
}

.Homepage-backtotop {
  margin: 30px 0 !important;
}
