.Homepage {
  height: 100%;
  width: 100%;
}

.Homepage-box {
  width: 70%;
  display: inline-block;
}

.Homepage-title {
  font-family: "Roboto";
  font-size: 20px;
  font-style: italic;
  letter-spacing: 0.125em;
  padding: 100px 0;
  cursor: default;
}
