.Sample {
  height: 100%;
  width: 100%;
}

.Sample-box {
  width: 70%;
  display: inline-block;
}

.Sample-title {
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 550;
  letter-spacing: 0.125em;
  padding-top: 50px;
  cursor: default;
}
